.container {
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: white;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 670px) {
    width: 300px;
  }

  .form {
    width: 75%;
    label {
      display: block;
    }
    input {
      display: block;
      box-shadow: none;
      width: 100%;
      padding: 5px 2px;
      box-sizing: border-box;
      // padding: 0;
      margin: 0;
      border: 1px solid black;
    }
    select {
      border: 1px solid black;
    }
    .genderContainer {
      .genderLabel {
        display: block;
      }
      .genderSelect {
        display: block;
        box-shadow: none;
        width: 100%;
        padding: 5px 2px;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid black;
      }
    }
    .statusContainer {
      .statusLabel {
        display: block;
      }
      .statusSelect {
        display: block;
        box-shadow: none;
        width: 100%;
        padding: 5px 2px;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid black;
      }
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
      .saveButton {
        background-color: #47AA5B;
        padding: 10px 20px;
        border: none;
        border-radius: 6px;
        box-shadow: none;
        cursor: pointer
      }
    }
    .innerContainer {
      .inputContainer {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
